<ion-content class="ion-padding">
  <div class="container">
    <img src="assets/logo4.jpg" alt="Logo" class="logo"/>

    <div class="login-card" style="background-color:#d570fa">
      <ion-label style="color: #59337b;font-size: 15.5px;
    font-weight: 800;">Email</ion-label>
      <div class="password-container">
        <ion-input [(ngModel)]="dataUser.email" style="color: black;" placeholder="Saisissez votre boîte mail ici" type="email"></ion-input>
      </div>

      <ion-label style="color: #59337b;font-size: 15.5px;
    font-weight: 800;">Mot de passe</ion-label>
      <div class="password-container">
        <ion-input [(ngModel)]="dataUser.password" style="color: black;" [type]="showPassword ? 'text' : 'password'" placeholder="Saisissez votre mot de passe ici"></ion-input>
        <ion-icon style="color: black;" [name]="showPassword ? 'eye-off-outline' : 'eye-outline'" (click)="togglePassword()"></ion-icon>
      </div>

      <ion-button class="login-button" (click)="signUp()">S'inscrire</ion-button>

      <p class="register-link">
        Avez-vous déjà un compte alors ? <a routerLink="/connexion">Se connecter</a>
      </p>
    </div>
  </div>
</ion-content>
